:root {
  --bs-body-bg: #05050a;
  --bs-body-color: #f5f5f5;

  --bs-emphasis-color: #ffffff;
  --bs-border-color: rgba(255, 255, 255, 0.08);

  /* Surfaces (cards, list groups, etc.) */
  --bs-secondary-bg: #0b0b14;
  --bs-tertiary-bg: #0f172a;


  --bs-primary: #2563eb; /* blue */
  --bs-link-color: #60a5fa;

  --bs-secondary-color: #a1a1aaf;
}

/* Make html/body/root occupy full viewport and use dark colors */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.react-flow__node {
  opacity: 1 !important;
  visibility: visible !important;
}



.react-flow__node-hrflow .hrflow-node {
  background-color: #0b1120 !important;  /* darker card */
  border: 2px solid #38bdf8 !important;  /* bright cyan border */
  box-shadow: 0 0 0 1px rgba(56, 189, 248, 0.8),
              0 18px 40px rgba(15, 23, 42, 0.95) !important;
}

.react-flow__edge-path {
  stroke: #38bdf8 !important;
  stroke-width: 2px !important;
}
